.swiper-slide{
    background-color: #DDDDDD;
    border-radius: 3px;
    color: #555252;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
}

.swiper-wrapper{
    margin-bottom: 30px;
}

.swiper-slide-active{
    background-color: #0085B2;
    color: #e0e8eb
}

.swiper-pagination-bullet{
    background: var(--swiper-pagination-bullet-inactive-color,#ffffff) !important;
}

.swiper-button-prev::after, .swiper-button-next::after{
    background-color: #00698C;
    padding: 5px;
    border-radius: 3px;
    color: #DDDDDD;
    
}
.swiper-button-prev:hover, .swiper-button-prev:after:hover, .swiper-button-next:hover{
    background-color: #f9fcfd !important;
}

.swiper-button-disabled{
    background-color: #DDDDDD !important;   
}